/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

/* ---- layout ---- */

.container {  
  width: 100%;
  height: 100%;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

section.testimonials .button {
  margin-bottom: 10px;
}

.game-screen, .game-over {
  width: 80%;
  height: 80vh;
  margin: 20px auto;
  border: 1px solid black;
}

.splash {
  width: 1000px;
  height: 1000px;
  background-image: url("images/Claw.png");
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.splash button {
  width: 20%;
  height: 5%;
  font-size: 20px;
  text-transform: uppercase;
  background-color:  white;
  border: none;  
}

.splash button:hover{
  background-color: #C57216;
  cursor: pointer;
}

.game-over {
  background-image: url("images/likeu.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
}

.game-screen {
  background: white;
  background-image: url("https://vignette.wikia.nocookie.net/sefyll/images/d/de/TMB_D%26D_Jova.jpg/revision/latest?cb=20180217033620");
  background-size: cover;
  background-position: center;
  
}



