/* ---- reset ---- */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Jura|Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Jura|Paytone+One|Press+Start+2P');
html {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 147%;
}

/* ---- layout ---- */

.container {  
  width: 100%;
  height: 100%;  
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}



.game-screen {
  width: 80%;
  height: 80vh;
  margin: 80px auto;
  border: 1px solid black;
  background: white;
  background-image: url("https://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-25.gif?w=800&h=336");
  background-size: cover;
  background-position: center;
}

.splash {
  width: 100%;
  height: 100vh;
  background-image: url("images/port.jpg");  
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.splash button, .game-over button, .you-win button {
  width: 10%;
  height: 5%;
  font-size: 20px;
  text-transform: uppercase;
  background-color:  white;
  border: none;    
  font-weight: 600;
  border-radius: 85px 85px 85px 85px;
  letter-spacing: 3px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.game-over button:hover, .you-win button:hover{
  background-color: #007EE3;
  color: white;
  cursor: pointer;
}

.game-over {
  width: 100%;
  height: 100vh;
  background-image: url("images/gameo.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.game-over button {  
  background: white;
  color: black;  
  width: 10%;   
}

.game-over h1 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 80px;
}

.info {
  position: absolute;    
  width:  100px;     
}

.info p {
  color: white;
  font-size: 15px;
  border-radius: 0px 87px 87px 0px;
  margin-bottom: 5px; 
  background: #007EE3;
  padding-left: 5px;
}

.instructions {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-items: center;
  background-color: #ffffff;
  opacity: 0.95;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 24px 24px 24px 24px;
}

.instructions h1 {
  text-align: center;  
}

.game-screen audio {
 display: none;
}

.you-win {
  background-image: url("images/win.jpg");
  background-position: center;
  background-repeat: no-repeat;  
  background-image: url("https://lh3.googleusercontent.com/-U_jcps5ANtQ/V5LXaDlzjqI/AAAAAAABDWk/Fd3KAAvwS4M/s0/illust_4918.jpg");
  background-size: cover;  
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.you-win audio {
  display: none;
}

.you-win img {
  width: 200px;
  height: 200px;
  animation: bounce-in-top 2s both;
}

.splash button {  
    animation: shaker 1.5s infinite;   
    background: #007EE3; 
    color: white;
}

.splash button:hover {
  background: white;
  color: black;
  cursor: pointer;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}



@keyframes shaker {
  0% {
    transform:rotate(0deg);
  }

  29% {
    transform:rotate(0deg);
  }


  30% {
    transform:rotate(1deg);
  }

  31% {
    transform:rotate(2deg);
  }

  33% {
    transform:rotate(1deg);
  }

  35% {
    transform:rotate(0deg);
  }

  37% {
    transform:rotate(-1deg);
  }

  39% {
    transform:rotate(-2deg);
  }

  41% {
    transform:rotate(-1deg);
  }

  43% {
    transform:rotate(0deg);
  }


  45% {
    transform:rotate(1deg);
  }

  47% {
    transform:rotate(2deg);
  }

  49% {
    transform:rotate(1deg);
  }

  51% {
    transform:rotate(0deg);
  }

  53% {
    transform:rotate(-1deg);
  }

  55% {
    transform:rotate(-2deg);
  }

  57% {
    transform:rotate(-1deg);
  }

  59% {
    transform:rotate(0deg);
  }


  100%{
    transform:rotate(0deg);
  }
}