/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {  
  width: 100vw;
  height: 100vh;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

section.testimonials .button {
  margin-bottom: 10px;
}

.game-screen, .game-over {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  border: 1px solid black;
}

.splash {
  width: 1000px;
  height: 1000px;
  background-image: url("images/Claw.png");
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.splash button {
  width: 20%;
  height: 5%;
  font-size: 20px;
  text-transform: uppercase;
  background-color:  white;
  border: none;  
}

.splash button:hover{
  background-color: #C57216;
  cursor: pointer;
}

.game-over {
  background-image: url("images/likeu.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;  
}

.game-screen {
  background: white;
  background-image: url("https://cdn.dribbble.com/users/1016207/screenshots/2818276/artboard_1.png");
  background-size: cover;
  margin-top: 80px;
}



